In [1]:
import pandas as pd

sad_train = pd.read_csv('raw_data/student-addiction-train-raw.csv')
sad_test = pd.read_csv('raw_data/student-addiction-test-raw.csv')

In [2]:
print(sad_train.shape)
print(sad_test.shape)

(50342, 11)
(12744, 11)

In [3]:
# drop NULLs
for df in [sad_train, sad_test]:
    df.dropna(inplace=True)
    df.reset_index(drop=True, inplace=True)
    
    print(df.shape)

(30072, 11)
(7516, 11)

In [4]:
sad_train.sample(15)

,Experimentation,Academic_Performance_Decline,Social_Isolation,Financial_Issues,Physical_Mental_Health_Problems,Legal_Consequences,Relationship_Strain,Risk_Taking_Behavior,Withdrawal_Symptoms,Denial_and_Resistance_to_Treatment,Addiction_Class
15143,Yes,Yes,No,No,Yes,No,No,No,Yes,No,No
5742,No,Yes,Yes,Yes,Yes,No,Yes,No,Yes,No,Yes
13073,No,No,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No
15561,No,Yes,Yes,No,Yes,No,Yes,Yes,No,Yes,No
8732,Yes,Yes,Yes,No,Yes,No,Yes,No,No,Yes,No
11503,No,Yes,No,No,Yes,Yes,No,No,Yes,No,No
8129,Yes,No,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,No
21675,No,Yes,No,Yes,Yes,Yes,No,No,No,No,Yes
14134,Yes,Yes,No,No,Yes,No,No,No,Yes,No,No
18888,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No
21366,No,No,No,No,No,No,Yes,No,No,Yes,No
16149,Yes,Yes,No,No,No,Yes,No,No,No,Yes,No
16950,No,No,Yes,No,Yes,No,No,Yes,No,No,Yes
11061,Yes,No,No,No,Yes,Yes,Yes,No,Yes,Yes,No
25241,Yes,Yes,No,Yes,Yes,Yes,No,Yes,Yes,Yes,No

In [5]:
# Map all variables from Yes/No to 1/0
# Note that all variables are binary

for df in [sad_train, sad_test]:
    for col in df.columns[0:]:
        df[col] = df[col].map({'Yes': 1, 'No': 0})
        df[col] = df[col].astype(int)

In [6]:
sad_train.sample(15)

,Experimentation,Academic_Performance_Decline,Social_Isolation,Financial_Issues,Physical_Mental_Health_Problems,Legal_Consequences,Relationship_Strain,Risk_Taking_Behavior,Withdrawal_Symptoms,Denial_and_Resistance_to_Treatment,Addiction_Class
13088,1,0,1,0,0,1,1,1,0,0,0
26178,1,1,0,1,0,0,0,0,0,0,1
27662,1,1,1,1,1,0,1,0,0,1,0
21454,0,1,1,1,1,1,1,0,1,1,0
29170,0,0,1,1,1,1,1,1,1,0,1
24316,1,0,1,0,1,0,1,1,1,0,1
1502,1,1,1,1,1,0,0,1,0,0,1
4075,0,1,1,1,0,0,1,1,0,0,1
13981,1,0,0,0,1,1,1,0,0,0,0
10950,1,1,1,0,1,1,1,0,1,0,0
27976,1,1,0,1,1,1,0,1,0,1,0
12948,1,1,0,0,1,0,1,1,0,1,0
24964,0,0,0,0,0,0,0,1,1,0,0
15166,1,0,1,1,0,0,1,0,1,0,1
9088,1,1,0,1,1,0,0,0,0,0,0

In [8]:

# save dataset two folders up from current folder and then from there in src/data/clean/

sad_train.to_csv('../../src/data/clean/student-addiction-train.csv', index=False)
sad_test.to_csv('../../src/data/clean/student-addiction-test.csv', index=False)